*
{
    margin:0px;
    padding:0px;
}
.ex
{
    background-color:#f4f4f4;
    height:100px;
    width: 60%;
    margin:80px auto;
}
.ex > p
{
    font-size:19px;
    color:gray;
    padding-top:40px;
    padding-left:15px;
}
.explain
{
    background-color:#f4f4f4;
    height:1000px;
    width: 60%;
    margin:50px auto;
}
.explain > h1
{
    color:gray;
    padding-top:20px;
    margin-left:20px;
}
.explain > p
{
    color:gray;
    padding-top:20px;
    margin-left:20px;
}