*
{
    margin:0px;
    padding:0px;
    font-family: 'Noto Sans KR', sans-serif;
}
.Nav
{
    border-bottom: 1px solid gray;
}
.ex
{
    background-color:#f4f4f4;
    height:100px;
    width: 60%;
    margin:80px auto;
}
.ex > p
{
    font-size:20px;
    color:gray;
    padding-top:40px;
    padding-left:80px;
}
.notice
{
    text-align:center;
}
.notice > p
{
    margin:10px;
}